body {
  margin: 0;
  font-family: 'Monaco';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #011627;
  color: white;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board {
  display: grid;
  background-color: #2EC4B6;
  gap: 3px;
  width: fit-content;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 3px;
  padding: 3px;
  box-shadow: 0 15px 15px #2ec4b529;
  
}

.cell {
  background-color: #fdfffc;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7F8B92;
  padding: 0;
  margin: 0;
  font-weight: 800;
  border-radius: 3px;
}

/* .cell > svg {
  fill: black;
} */

.cell.hidden:hover,
.cell.mine.hidden:hover {
  background-color: #213442;
}

.cell.hidden,
.cell.mine.hidden {
  background-color: #40515D;
  color: transparent;
}

.cell.hidden.flagged,
.cell.hidden.flagged:hover {
  background-color: #f9e7cf;
}

.cell.mine {
  background-color: #f9c8ce;
}

.btn {
  border: none;
  background-color: #2EC4B6;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: .2rem .3rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
  align-items: center;
}

.btn > svg {
  margin-right: .5rem;
}

.btn:hover {
  background-color: #308e84;
}